@model IEnumerable<AdvancedProgramming.Data.Inventory>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<p>
    
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-responsive table-bordered table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InventoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>

		<td>
			<ul>
				@foreach (var subItem in item.Products)
				{
                    <li> @subItem.ProductName </li>
				}
			</ul>
		</td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryID }, new { @class = "btn btn-sm btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.InventoryID }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InventoryID }, new { @class = "btn btn-sm btn-danger" })
        </td>

    </tr>
}

</table>
