@model IEnumerable<AdvancedProgramming.Data.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-responsive table-bordered table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }, new { @class = "btn btn-sm btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
