@model IEnumerable<AdvancedProgramming.Data.Role>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-responsive table-bordered table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleID }, new { @class = "btn btn-sm btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoleID }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoleID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
