@model IEnumerable<AdvancedProgramming.Data.Supplier>

@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-responsive table-bordered table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierID }, new { @class = "btn btn-sm btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplierID }, new { @class = "btn btn-sm btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
